In [1]:
import pandas as pd
import os

In [5]:
os.chdir('../raw_data')

# База данных

In [6]:
data = pd.read_excel(
    "Статистика для графиков 3 д.xlsx",
         sheet_name="База данных")

In [7]:
data.isna().sum().values

array([   0,    0,    0,    0,    0,    0,    0, 1341,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0, 1341,    0,    0,    0,    0,    0,    0,
          0])

In [8]:
data = data.drop(["Unnamed: 7"], axis=1)

In [9]:
data.to_csv("../preprocessed_data/statistics_for_graphs/db.csv")

# Лист6

In [29]:
data = pd.read_excel("Статистика для графиков 3 д.xlsx", sheet_name="Лист6")

In [11]:
data.isna().sum().values

array([  0,   1,   1,   1, 330])

In [12]:
data.to_csv("../preprocessed_data/statistics_for_graphs/page6.csv")

# Лист5

In [31]:
data = pd.read_excel("Статистика для графиков 3 д.xlsx", sheet_name="Лист5")

In [14]:
data.isna().sum().values

array([   0,    0,    0,    0, 1341,  483,  483,  483])

In [15]:
data.to_csv("../preprocessed_data/statistics_for_graphs/page5.csv")

# Лист8

In [33]:
data = pd.read_excel("Статистика для графиков 3 д.xlsx", sheet_name="Лист8")

In [17]:
data.isna().sum().values

array([0, 1, 1, 1])

In [18]:
data.to_csv("../preprocessed_data/statistics_for_graphs/page8.csv")

# Лист3

In [35]:
data = pd.read_excel("Статистика для графиков 3 д.xlsx", sheet_name="Лист3")

In [20]:
data.isna().sum().values

array([0, 0, 0, 0, 0, 0, 0])

In [21]:
data.to_csv("../preprocessed_data/statistics_for_graphs/page3.csv")

# Лист2

In [37]:
data = pd.read_excel("Статистика для графиков 3 д.xlsx", sheet_name="Лист2")

In [38]:
data.head()

,Unnamed: 0,тыс. кВтч,тыс. кВтч.1,ккал/кВтч,ккал/кВтч.1,г/кВтч,г/кВтч.1,Unnamed: 7,т/ч,т/ч.1,...,Unnamed: 39,Гкал,Гкал.1,Unnamed: 42,Гкал.2,Гкал.3,Гкал.4,Гкал.5,Гкал.6,Гкал.7
0,NaN,Выработка электроэнергии ТА гр.130,Выработка электроэнергии ТА гр.90,Удельный расход тепла на выработку э/э ТА гр.130,Удельный расход тепла на выработку э/э ТА гр.90,Удельный расход условного топлива на отпуск э/...,Удельный расход условного топлива на отпуск э/...,NaN,Расход пара в конденсатор ТА №3,Расход пара в конденсатор ТА №4,...,NaN,Отпуск тепла из ТО ТА гр.130,Отпуск тепла из ТО ТА гр.90,NaN,Отпуск тепла из ТО ТА №3,Отпуск тепла из ТО ТА №4,Отпуск тепла из ТО ТА №5,Отпуск тепла из ТО ТА №6,Отпуск тепла из ТО ТА №7,Отпуск тепла из ТО ТА №8
1,Период,00T000GE0L19,00T000GE0N19,00T000DU0L19,00T000DU0N19,00S000GD0L19,00S000GD0N19,Период,03T110DH0N19,04T110DH0N19,...,Период,00T000QT0L19,00T000QT0N19,Период,03T000QT0N19,04T000QT0N19,05T000QT0N19,06T000QT0L19,07T000QT0L19,08T000QT0L19
2,2019-01-01 00:00:00,6127.957,1017.03,1359.180556,1943.9,312.516107,466.813463,2019-05-01 00:00:00,0,63.363636,...,2019-01-01 00:00:00,10544,1275,2019-01-01 00:00:00,0,424,851,4149,3204,3191
3,2019-01-02 00:00:00,6178.173,1018.596,1357.844787,1896.73,312.146501,460.440775,2019-05-02 00:00:00,0,43.708333,...,2019-01-02 00:00:00,10497,1279,2019-01-02 00:00:00,0,439,840,4279,3227,2991
4,2019-01-03 00:00:00,6543.367,1022.184,1394.847637,1981.05,313.185036,468.609355,2019-05-03 00:00:00,0,72,...,2019-01-03 00:00:00,10494,1463,2019-01-03 00:00:00,0,451,1012,3893,3470,3131

In [23]:
data.isna().sum().values

array([  1,   0,   0,   0,   0,   0,   0, 121, 120, 120, 120, 120, 120,
       120,   1,   0,   0,   0,   0,   0,   0,   1,   0,   0,   0,   0,
         0,   0,   0,   0,   1,   0,   0,   0,   0,   0,   0,   0,   0,
         1,   0,   0,   1,   0,   0,   0,   0,   0,   0])

In [24]:
data.to_csv("../preprocessed_data/statistics_for_graphs/page2.csv")

# Лист1

In [25]:
data = pd.read_excel("Статистика для графиков 3 д.xlsx", sheet_name="Лист1")

In [26]:
data = data.drop(["Unnamed: 0", "Unnamed: 6", "Unnamed: 11"], axis=1)

In [27]:
data_first_part = data[["Unnamed: 1", "Unnamed: 2", "Unnamed: 3", "Unnamed: 4", "Unnamed: 5"]]

In [120]:
data_first_part = data_first_part.dropna()

In [121]:
data_first_part.to_csv("../preprocessed_data/statistics_for_graphs/page1/page1_first_part.csv")

In [122]:
data_second_part = data[["Unnamed: 7", "Unnamed: 8", "Unnamed: 9", "Unnamed: 10"]]

In [123]:
data_second_part = data_second_part.dropna()

In [127]:
data_first_part.to_csv("../preprocessed_data/statistics_for_graphs/page1_second_part.csv")

In [128]:
data_third_part = data[["Unnamed: 12", "Unnamed: 13", "Unnamed: 14"]]

In [129]:
data_third_part = data_third_part.dropna()

In [131]:
data_third_part.to_csv("../preprocessed_data/statistics_for_graphs/page1_third_part.csv")