In [ ]:
import numpy as np
import pandas as pd

import seaborn as sns
from matplotlib import pyplot as plt

from sklearn.datasets import make_moons
from sklearn.model_selection import train_test_split

In [ ]:
data = pd.read_csv("page2.csv")

In [ ]:
data.head()

,Unnamed: 0.1,Unnamed: 0,тыс. кВтч,тыс. кВтч.1,ккал/кВтч,ккал/кВтч.1,г/кВтч,г/кВтч.1,Unnamed: 7,т/ч,...,Unnamed: 39,Гкал,Гкал.1,Unnamed: 42,Гкал.2,Гкал.3,Гкал.4,Гкал.5,Гкал.6,Гкал.7
0,0,NaN,Выработка электроэнергии ТА гр.130,Выработка электроэнергии ТА гр.90,Удельный расход тепла на выработку э/э ТА гр.130,Удельный расход тепла на выработку э/э ТА гр.90,Удельный расход условного топлива на отпуск э/...,Удельный расход условного топлива на отпуск э/...,NaN,Расход пара в конденсатор ТА №3,...,NaN,Отпуск тепла из ТО ТА гр.130,Отпуск тепла из ТО ТА гр.90,NaN,Отпуск тепла из ТО ТА №3,Отпуск тепла из ТО ТА №4,Отпуск тепла из ТО ТА №5,Отпуск тепла из ТО ТА №6,Отпуск тепла из ТО ТА №7,Отпуск тепла из ТО ТА №8
1,1,Период,00T000GE0L19,00T000GE0N19,00T000DU0L19,00T000DU0N19,00S000GD0L19,00S000GD0N19,Период,03T110DH0N19,...,Период,00T000QT0L19,00T000QT0N19,Период,03T000QT0N19,04T000QT0N19,05T000QT0N19,06T000QT0L19,07T000QT0L19,08T000QT0L19
2,2,2019-01-01 00:00:00,6127.957,1017.03,1359.1805556076845,1943.9,312.51610659934016,466.81346335325577,2019-05-01 00:00:00,0,...,2019-01-01 00:00:00,10544,1275,2019-01-01 00:00:00,0,424,851,4149,3204,3191
3,3,2019-01-02 00:00:00,6178.173,1018.596,1357.8447868002402,1896.73,312.14650075768895,460.44077533734463,2019-05-02 00:00:00,0,...,2019-01-02 00:00:00,10497,1279,2019-01-02 00:00:00,0,439,840,4279,3227,2991
4,4,2019-01-03 00:00:00,6543.367,1022.184,1394.8476373096603,1981.05,313.1850362448487,468.6093553715739,2019-05-03 00:00:00,0,...,2019-01-03 00:00:00,10494,1463,2019-01-03 00:00:00,0,451,1012,3893,3470,3131

In [ ]:
data["т/ч"].isnull().sum()

120

In [ ]:
data["т/ч"] = data["т/ч"].fillna(0)
data["т/ч"].isnull().sum()

0

-------------------

In [ ]:
data["т/ч.1"].isnull().sum()

120

In [ ]:
data["т/ч.1"] = data["т/ч.1"].fillna(0)
data["т/ч.1"].isnull().sum()

0

____________________________________________________________

In [ ]:
data["т/ч.2"].isnull().sum()

120

In [ ]:
data["т/ч.2"] = data["т/ч.2"].fillna(0)
data["т/ч.2"].isnull().sum()

0

________________________________________________________________

In [ ]:
data["т/ч.3"].isnull().sum()

120

In [ ]:
data["т/ч.3"] = data["т/ч.3"].fillna(0)
data["т/ч.3"].isnull().sum()

0

__________________________________________________

In [ ]:
data["т/ч.4"].isnull().sum()

120

In [ ]:
data["т/ч.4"] = data["т/ч.4"].fillna(0)
data["т/ч.4"].isnull().sum()

0

______________________________________________________________

In [ ]:
data["т/ч.5"].isnull().sum()

120

In [ ]:
data["т/ч.5"] = data["т/ч.5"].fillna(0)
data["т/ч.5"].isnull().sum()

0

___________________________________________________________

In [ ]:
data["Гкал.7"].isnull().sum()

0

In [ ]:
data.to_csv("page2i.csv", encoding='utf-8')